<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;400;700&display=swap" rel="stylesheet">
<style>
    h1 {
        padding: 40px;
        font-family: 'Sora', sans-serif;
        font-weight: bold;
        text-align: center;
        color: black;
        font-size: 50px;
    }
    div{
        margin: auto;
        text-align:center;
    }

    a {
        font-family: 'Sora', sans-serif;
        background-color: #6b6f70;
        border: 3px;
        border-radius: 5px;
        padding: 6px;
        font-size: 30px;
        margin:auto;
    }

    a:hover {
        background-color: #5e6061;
    }
</style>
<html>

<body>

    <h1>Transaction repeat was a success!</h1>
    <div>
        <a href="/" style="text-decoration: none; color: white;">Go back</a>
    </div>

</body>

</html>